<html>

<body>

${mensaje}

<br>

Ir a <a href="/login">Login</a>

<br>

Ir a <a href="/registro">Registro</a>

<br>

Ir a <a href="/busqueda">Busqueda</a>


<br>

Ir a <a href="/rss">RSS</a>

<br>

Ir a <a href="/charts">Highcharts</a>

<br>

Ir a <a href="/charts_ajax">Highcharts con Ajax</a>

<br>

Ir a <a href="/maps">Maps</a>

<br>

Ir a <a href="/twitter">Twitter</a>

<br>

<a class="twitter-share-button"
href="https://twitter.com/share">
Tweet
</a>
<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>

</body>


</html>
