<!doctype html>


<html>


<body>
  <p>${var1[0]["fecha"]}</p>
  <p>${var1[0]["texto"]}</p>
  <p>${var1[0]["salto"]}</p>

  <p>${var1[1]["fecha"]}</p>
  <p>${var1[1]["texto"]}</p>
  <p>${var1[1]["salto"]}</p>

  <p>${var1[2]["fecha"]}</p>
  <p>${var1[2]["texto"]}</p>
  <p>${var1[2]["salto"]}</p>

  <p>${var1[3]["fecha"]}</p>
  <p>${var1[3]["texto"]}</p>
  <p>${var1[3]["salto"]}</p>

  <p>${var1[4]["fecha"]}</p>
  <p>${var1[4]["texto"]}</p>
  <p>${var1[4]["salto"]}</p>

  <p>${var1[5]["fecha"]}</p>
  <p>${var1[5]["texto"]}</p>
  <p>${var1[5]["salto"]}</p>
</body>

</html>
