<!doctype html>


<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>


  <script type="text/javascript">
  $("#btn").click( function() {



    $('#container').highcharts({
      title: {
        text: 'Variación de temperatura mensual',
        x: -20 //center
      },
      subtitle: {
        text: 'Source: WorldClimate.com',
        x: -20
      },
      xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
        'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      },
      yAxis: {
        title: {
          text: 'Temperature (°C)'
        },
        plotLines: [{
          value: 0,
          width: 1,
          color: '#808080'
        }]
      },
      tooltip: {
        valueSuffix: '°C'
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      series: [{
        name: 'Tokyo',
        data: ${tokyo}
      }, {
        name: 'New York',
        data: ${newyork}
      }, {
        name: 'Berlin',
        data: ${berlin}
      }, {
        name: 'London',
        data: ${londres}
      }]
    });
  });
  </script>
</head>
<body>
  <h1>Formulario para gráfica</h1>

  <body>

  ${mensaje}

  <form name="input" action="/charts_ajax" method="post">

  ${form.render()}


  <h1>GRÁFICOS DE GOOGLE CHARTS</h1>

  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  <button id='btn'>Mostrar la Grafica</button>


</div>
</body>
</html>
