<!doctype html>


<html>

<h1>Formulario para gráfica</h1>
<body>


<h3>GRAFICOS DE GOOGLE CHARTS</h3>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);

function drawChart() {
  var enero = ${enero}
  var febrero = ${febrero}
  var marzo = ${marzo}
  var abril = ${abril}
  var mayo = ${mayo}
  var junio = ${junio}
  var julio = ${julio}
  var agosto = ${agosto}
  var septiembre = ${septiembre}
  var octubre = ${octubre}
  var noviembre = ${noviembre}
  var diciembre = ${diciembre}

  var data = google.visualization.arrayToDataTable([
    ['Meses', 'Entradas', { role: "style" }],
    ['Enero',  enero, "silver"],
    ['Febrero',  febrero, "#636363"],
    ['Marzo',  marzo, "black"],
    ['Abril',  abril, "silver"],
    ['Mayo',  mayo, "#636363"],
    ['Junio',  junio, "black"],
    ['Julio',  julio, "silver"],
    ['Agosto',  agosto, "#636363"],
    ['Septiembre',  septiembre, "black"],
    ['Octubre',  octubre, "silver"],
    ['Noviembre',  noviembre, "#636363"],
    ['Diciembre',  diciembre, "black"]
    ]);

    var options = {
      title: 'Grafica de visitas al museo por meses',
      hAxis: {title: 'Meses', titleTextStyle: {color: 'orange'}}
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
  </script>
  <div id="chart_div" style="width: 600px; height: 500px;"></div>




</body>
</html>
